.color{
    color: seashell;
    
}
.icon1{
    margin-right:15px;
}
.espace{
    margin-top: 5px;
}

.menu_item{
    height: 90px !important;
    margin-top : 0px !important;
}

.menu_item:hover{
    background-color: #DF6267;
    }
    